:root {
    --dark-color: #333;
    --light-color: #fff;
    --font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light-color);
    color: var(--dark-color);
    position: relative;
}

body.dark-theme {
    background-color: var(--dark-color);
    color: var(--light-color);
}

i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translate(-50%,-50%);
}

.horizontal-line-header,
.horizontal-line-footer {
    border-top: 6px double black;
    margin: 15px 0;
}

.horizontal-line-body {
    border-top: 6px solid black;
}

.body article {
    border: 2px solid black;
    margin: 12px;
    width: flex;
    height: 110px;
    line-break: inherit;
}

.body {
    font-size: 75%;
}

.footer h6,
.footer ul {
    text-align: center;
    font-size: 75%;
    margin-top: 1%;
    list-style-type: none;
    font-size: 60%;
}

#theme-toggle2,
#backbtn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    width: 15px;
    height: 15px;
}

#theme-toggle2 svg {
    margin-top: -10px;
    position: relative;
    color: orange;
}

#backbtn {
    top: 16px;
    left: 1730px;
    color: black;
}

#blogs {
    flex: 1 0 auto;
    margin: 2%;
}

.card > :first-child {
    margin-top: 0;
}

body.dark-theme .card,
body.dark-theme .backbtn,
body.dark-theme #sticky-footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    border-color: var(--light-color);
}

body.dark-theme .card .card-text {
    color: var(--light-color);
}

footer,
#footer {
    clear: both;
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
    flex-shrink: 0;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}